portafoglio.api/.vs
portafoglio.api/obj
portafoglio.api/Migrations
portafoglio.api/bin
*.db
*.db-shm
*.db-wal
portafoglio.api/portafoglio.api/obj
portafoglio.api/portafoglio.api/bin
*.sqlite-wal
*.sqlite-shm
*.sqlite
